@use "@crayonai/react-ui/scssUtils" as cssUtils;

.chat-theme {
    
      & :global(.crayon-shell-container) {
        background: transparent !important;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
      }

      @include cssUtils.dark {
        & :global(.crayon-shell-container) {
          background-image: url("/charcoal-bg-dark.svg") !important;
        }
      }

      @include cssUtils.light {
        & :global(.crayon-shell-container) {
          background-image: url("/charcoal-bg-light.svg") !important;
        }
      }
}
